.contacts-section {
  height: 100%;
  background-color: var(--alabaster);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow-y: auto;
}