.services-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow-y: auto;
}

.services-cover {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
  animation: image-color 0.6s 1;
  flex: 1;
  height: 0;
  border: 0.05rem solid #E4D7C7;
  object-position: bottom left;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: var(--spacing);
  grid-row-gap: var(--spacing);
}

.services-card {
  background-color: var(--alabaster);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
  border: var(--gallery) solid var(--border-size);
  text-decoration: none;
  transition: background-color 0.4s ease-in-out;
}

.services-card.reservation-card, .services-card.contact-card {
  background-color: var(--christine);
  border: #ce5205 solid var(--border-size);
}

.services-card.reservation-card:hover, .services-card.contact-card:hover {
  background-color: var(--meteor);
}

.services-card.reservation-card h2, .services-card.reservation-card p,
.services-card.contact-card h2, .services-card.contact-card p {
  color: var(--white);
}

.services-card-header h2, .services-card-status {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-xl);
  color: var(--cod);
  margin: 0;
}

.services-card-footer {
  display: flex;
  justify-content: space-between;
}

.services-card.unavailable {
  position: relative;
  background-color: var(--gallery);
  border-color: var(--silver);
  cursor: not-allowed;
}

.services-card.unavailable p, .services-card.unavailable span, .services-card.unavailable h2 {
  color: var(--chalice);
}

.services-card-status {
  position: absolute;
  right: var(--spacing);
  top: var(--spacing);
}

.services-card-footer p {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-l);
  color: var(--shaft);
  margin: 0;
}

.services-card-footer span {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-m);
  color: var(--shaft);
}

@media screen and (max-width: 768px) {
  .services-section {
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .services-section::-webkit-scrollbar {
    display: none
  }

  .services-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .services-card.reservation-card {
    order: 2;
  }

  .services-card.contact-card {
    order: 1;
  }

  .services-card {
    gap: var(--spacing-sm);
  }
}