.home-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  overflow-y: auto;
}

.home-cover {
  width: 100%;
  height: 0;
  flex: 1;
  object-fit: cover;
  border-radius: var(--border-radius);
  animation: image-color 0.6s 1;
  border: 0.05rem solid #ddd;
  min-height: 5rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
}

.home-options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: var(--spacing);
}

.home-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.home-about p {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-l);
  color: var(--cod);
  text-align: justify;
  text-justify: inter-word;
  margin: 0;
}

.home-about img {
  width: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center top;
  height: 100%;
  animation: image-color 0.6s 1;
}

.home-pricing {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  border-radius: var(--border-radius);
  gap: var(--spacing);
}

.home-pricing-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing);
  background-color: #fff9f7;
  border-radius: var(--border-radius);
  border: #f9dcca solid var(--border-size)
}

.home-details-card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing);
  background-color: var(--alabaster);
  border-radius: var(--border-radius);
  border: var(--gallery) solid var(--border-size);
}

.home-details-card {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-pricing-card-header, .home-pricing-card-footer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.home-pricing-card p, .home-pricing-card span, .home-details-card h2, .home-details-card p {
  font-family: "Sora", sans-serif;
  margin: 0;
}

.home-pricing-card p, .home-details-card h2 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.home-pricing-card span, .home-details-card p {
  font-size: var(--font-size-l);
  font-weight: 500;
}

.home-pricing-card p {
  color: #DB6B26;
}

.home-pricing-card span {
  color: #C6672E;
}

.home-details-card h2 {
  color: var(--cod);
}

.home-details-card p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  color: var(--shaft);
}

.home-contact {
  width: 100%;
}

.home-contact a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  color: var(--white);
  text-decoration: none;
  font-size: var(--font-size-l);
  font-family: 'Sora' , sans-serif;
  font-weight: 600;
  height: 3rem;
  border-radius: var(--border-radius);
  background-color: var(--christine);
  border: #ce5205 solid var(--border-size);
  transition: background-color 0.4s ease-in-out;
}

.home-contact a:hover {
  background-color: var(--meteor);
}

@media screen and (min-width: 769px) {
  .home-cover {
    max-height: unset;
  }
}

@media screen and (min-width: 1081px) {
  .home-details-card p {
    height: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .home-cover {
    min-height: 40dvh;
  }
  
  .home-section {
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .home-section::-webkit-scrollbar {
    display: none
  }

  .home-pricing-card-footer {
    flex-direction: column;
  }

  .home-contact {
    background-color: #fcfdfd;
    padding-top: 1rem;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    margin-top: -1rem;
  }
}

@media screen and (max-width: 1080px) {
  .home-options {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .home-details-card {
    align-items: center;
    min-height: 7rem;
  }
}