.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.navbar-logo {
  height: 3rem;
  display: flex;
  align-items: center;
}

.navbar-logo svg {
  height: 100%;
}

.navbar-links {
  font-size: var(--font-size-m);
  font-weight: 600;
  display: flex;
}

.navbar-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}

.navbar-links a {
  text-decoration: none;
  color: var(--shaft);
  transition: all 0.2s ease-in-out;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--alabaster);
  border-radius: var(--border-radius);
  border: 0.05rem solid var(--gallery);
}

.hamburger svg {
  fill: var(--cod);
  width: 2rem;
  height: 2rem;
}

.navbar-links footer {
  display: none;
}

.navbar-links a:hover {
  color: var(--cod);
}

.navbar-links a.active {
  color: var(--christine);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo {
    font-size: 2.5rem;
    height: 3rem;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 5rem;
    left: 0;
    background-color: #fcfdfd;
    width: 100%;
    padding: 1rem;
    padding-top: 1rem;
    z-index: 999;
  }

  .navbar-links a {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    height: calc(100% - 5rem);
  }

  .navbar-links-list {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    gap: var(--spacing);
    flex: 1;
    width: 100%;
  }

  .navbar-links.active footer {
    display: flex;
    width: 100%;
  }

  .hamburger {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .navbar-links a {
    background-color: var(--alabaster);
    padding: 0.25rem var(--spacing-sm);
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--gallery);
  }

  .navbar-links a:hover {
    background-color: var(--gallery);
    color: var(--cod);
    border-color: var(--silver);
  }
  
  .navbar-links a.active {
    background-color: var(--christine);
    color: var(--white);
    border-color: var(--meteor);
  }
}