.footer {
  border-radius: var(--border-radius);
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: HansonBold;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.footer-social-media {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.footer-social-media-btn {
  height: 3rem;
  width: 3rem;
  border-radius: var(--border-radius);
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-media-btn svg {
  width: 1.5rem;
  height: 1.5rem;
}

.footer-social-media {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--spacing);
}

.footer a, .footer span {
  text-decoration: none;
  color: var(--mine-shaft);
  letter-spacing: var(--letter-spacing-sm);
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 769px) {
  .footer a:hover, .footer span:hover {
    cursor: pointer;
    color: var(--christine);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing);
    padding-bottom: var(--spacing);
  }

  .footer-social-media {
    flex-direction: column;
    align-items: start;
  }
}