:root {
  font-family: Sora, sans-serif;
  /* Spacing */
  --spacing: 1rem;
  --spacing-sm: 0.5rem;
  --letter-spacing: 0.1rem;
  --letter-spacing-sm: 0.05rem;
  /* Colors */
  --cod: #1A1A1A;
  --shaft: #3C3C3C;
  --chalice: #AAAAAA;
  --silver: #CCCCCC;
  --gallery: #EEEEEE;
  --alabaster: #FCFCFC;
  --white: #FFFFFF;
  --christine: #F5640B;
  --meteor: #CE5205;
  /* Font sizes */
  --font-size-xl: 1.25rem;
  --font-size-l: 1rem;
  --font-size-m: 0.875rem;
  --font-size-sm: 0.75rem;
  /* Borders */
  --border-radius: 0.25rem;
  --border-size: 0.05rem;
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -user-drag: none;
}

::-moz-selection, ::selection {
  background-color: var(--christine);
  color: var(--white);
}

img {
  pointer-events: none;
}

img::selection {
  background-color: transparent;
}

body {
  padding: var(--spacing);
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  background-color: #fcfdfd;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  height: 100%;
  margin: 0 auto;
  width: calc(1000px - calc(2 * var(--spacing)));
}

.app {
  flex: 1;
  height: calc(100vh - 12rem);
}

/* Scrollbar styles */
/* WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--chalice);
}

/* Firefox */
* {
  scrollbar-color: var(--chalice) transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes image-color {
  0% {
    filter: grayscale(1);
  }
  100% {
    filter: grayscale(0);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    scrollbar-color: transparent transparent;
  }
}

@media screen and (min-width: 1921px) {
  :root {
    font-size: calc(16px + (28 - 16) * (100vw - 1920px) / (3840 - 1920));
  }
  #root {
    width: calc(50vw - calc(2 * var(--spacing)));
  }
}

@media screen and (min-width: 1441px) and (max-width: 1920px){
  :root {
    font-size: calc(14px + (16 - 14) * (100vw - 1440px) / (1920 - 1440));
  }
}

@media screen and (min-width: 1081px) and (max-width: 1440px) {
  :root {
    font-size: calc(12px + (14 - 12) * (100vw - 1080px) / (1440 - 1080));
  }
  #root {
    width: 70vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  :root {
    font-size: calc(12px + (12 - 10) * (100vw - 768px) / (1080 - 768));
  }

  #root {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-xl: 1rem;
    --font-size-l: 0.875rem;
    --font-size-m: 0.75rem;
    --font-size-sm: 0.625rem;
  }
  #root {
    width: 100%;
    max-width: unset;
  }

  #root > footer {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .app {
    min-height: fit-content;
  }
}