.promo-banner {
  min-height: 3rem;
  border-radius: var(--border-radius);
  background-color: var(--cod);
  overflow: hidden;
  display: flex;
  align-items: center;
  border: #121313 solid var(--border-size);;
}

.promo-banner-content:first-child {
  animation: slideRight 16s linear infinite;
  animation-delay: -16s;
}

.promo-banner-content:last-child {
  animation: slideRight2 16s linear infinite;
  animation-delay: -8s;
}

.promo-banner-content {
  display: flex;
}

.promo-banner-content p {
  margin: 0;
  color: var(--white);
  font-weight: 600;
  white-space: nowrap;
  margin: 0 5vw;
  font-weight: 600;
  font-size: 1rem;
}

@keyframes slideRight {
  0% {
    transform: translateX(100%); /* Move off-screen right */
  }
  100% {
    transform: translateX(-100%); /* Move off-screen left */
  }
}


@keyframes slideRight2 {
  0% {
    transform: translateX(0%); /* Move off-screen right */
  }
  100% {
    transform: translateX(-200%); /* Move off-screen left */
  }
}