.menu-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.menu-filters {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  width: 100%;
}

.menu-filters input[type="text"] {
  padding: var(--spacing-sm) var(--spacing);
  border: solid var(--border-size) var(--gallery);
  border-radius: var(--border-radius);
  font-size: var(--font-size-m);
  outline: none;
  flex: 1;
  height: 2.5rem;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

.menu-filters input[type="text"]:hover {
  background-color: var(--alabaster);
}

.menu-filters .react-dropdown-select {
  border: solid var(--border-size) var(--gallery) !important;
  border-radius: var(--border-radius);
  background-color: white;
  outline: none;
  height: 2.5rem;
  font-weight: 500;
  font-size: var(--font-size-m);
  padding: var(--spacing-sm) var(--spacing);
  min-width: 8rem;
  transition: background-color 0.2s ease-in-out;
  box-shadow: none !important;
}

.menu-filters .react-dropdown-select:hover {
  background-color: var(--alabaster);
  border-color: var(--gallery);
}

.menu-filters .react-dropdown-select-dropdown {
  border: solid var(--border-size) var(--gallery);
  border-radius: var(--border-radius);
  background-color: white;
  outline: none;
  box-shadow: 0 0 0.5rem 0.125rem rgba(0, 0, 0, 0.02);
  padding: var(--spacing-sm);
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  right: 0;
  left: unset !important;
  min-width: 8rem;
  
}

.menu-filters .react-dropdown-select-dropdown span {
  font-weight: 500;
  font-size: var(--font-size-m);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease-in-out;
  font-size: var(--font-size-m);
}

.menu-filters .react-dropdown-select-dropdown span.react-dropdown-select-item-selected {
  background-color: var(--christine);
  color: var(--white);
}

.menu-filters .react-dropdown-select-dropdown span:not(.react-dropdown-select-item-selected):hover {
  background-color: var(--gallery);
}

.menu-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, calc(50% - var(--spacing) * 0.5)));
  gap: var(--spacing);
  overflow-y: auto;
  width: 100%;
}

.sushi-card {
  display: flex;
  padding: var(--spacing);
  gap: var(--spacing);
  align-items: center;
  background-color: var(--white);
  border: solid var(--border-size) var(--gallery);
  justify-content: space-between;
  height: 10rem;
  border-radius: var(--border-radius);
}

.sushi-card-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  height: 100%;
}

.sushi-card-info h2 {
  margin: 0;
  font-size: var(--font-size-xl);
}

.sushi-card-info p {
  margin: 0;
  flex: 1;
}

.sushi-card-info .ingredients {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;  
  font-size: var(--font-size-sm);
}

.sushi-card-info span {
  margin: 0;
}

.sushi-card img {
  width: 8rem;
}

@media screen and (max-width: 768px) {
  .menu-options {
    grid-template-columns: 100%;
  }
  .menu-filters input[type="text"], .menu-filters .react-dropdown-select {
    height: 3rem;
  }
}

@media screen and (min-width: 769px) {
  .sushi-card img {
    transform: scale(1.25);
  }
}